.A{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    text-align: center;
    transition: transform 8s, border-radius 8s, color 8s, font-size 8s, transform 10s;
}
.A:hover{
    background-color: brown;
    transform: rotate(360deg);
    border-radius: 50%;
}
/* h1{
    transition: color 8s, font-size 8s, transform 10s;
} */
h1:hover{
    color: burlywood;
    font-size: 40px;
    transform: scale(1.1);
}