.welcome{
    font-size: 50px;
    color: royalblue;
    font-style: italic;
}
.subhead{
    color: red;
    font-size: 40px;
}
.headline{
    font-weight: bolder;
    font-size: 20px;
}
.parent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.news{
    display: flex;
    background-color: darkcyan;
    align-items: center;
    justify-content: space-between;
}
.news img{
    width: 200px;
    height: 200px;
}
.news p{
    font-size: 20px;
    color: chartreuse;
    font-style: italic;
    font-weight: 500px;
}