div{
    width: 110px;
    height: 110px;
    background-color: red;
    border-radius: 20px;
    border: 1px solid;
    border-color: green;
    margin: 20px;
    padding: 50px;
    
}
.Blue{
    width: 110px;
    height: 110px;
    background-color: blue;
    border-radius: 20px;
    border: 1px solid;
    border-color:green;
    margin: 20px;
    padding: 50px;
    
}
.Green{
    width: 110px;
    height: 110px;
    background-color: green;
    border-radius: 20px;
    border: 1px solid;
    border-color: green;
    margin: 20px;
    padding: 50px;
}